datasets
elasticsearch==7.9.1
pytrec_eval
pymorphy3
nltk
pandas
tensorflow
unbabel-comet
rouge-score
bert_score
tf-keras
spacy
textstat
scikit-learn==1.5.1
sentence-transformers==3.1.0
scipy==1.14.0
natasha==1.6.0
langdetect==1.0.9